html
  head
    title Carrito de compra page
    style
      include ../style/productsStyle.css

  body

    div(class="topNav") 
      div(class="header")
        div(class="topNav Heading")
            h2 Mi Carrito de compras 
        div(class="topNav Heading") Items
            p #{totalProds}
        div(class="topNav Heading") Costo
            p $ #{price}
        div(class="topNav Heading")
            a(href="") Eliminar Carrito
        div(class="topNav Heading")
            form(name="submitForm" method="POST" action="/api/user/buyShoppingCart")
              input(type="hidden", name="price", value=price)
              input(type="hidden", name="prods", value=products)
              a(HREF="javascript:document.submitForm.submit()")
                button(class="checkout") Comprar productos

    div(class="container")
      div(class="header")
        h3(class="heading") Todos los Productos 
        h3(class="heading") Producto 
        h3(class="heading") Precio


      each prod in products
        div(class="producto")
          div(class="imagen")
            img(src="images/Mexican Sombrero.png")
          div(class="about")
            h1(class="nombre") #{prod.nombre}
            p(class="descripcion") #{prod.descripcion}
          div(class="precio") $#{prod.precio}


      